name: Nightly build
on:
  schedule:
    - cron: "0 3 * * *"
  push:
    branches:
      - master

env:
  BASE_IMAGE_TAG: 3.20.2
  GOSTATSD_TAG: 39.1.10
  SNYK_TOKEN: ${{ secrets.CAOS_SNYK_TOKEN }}
  TEST_IMAGE: "newrelic/nri-statsd:nightly"
  DOCKER_IMAGE_TAG: "nightly"

jobs:
  trivy_scanner:
    name: Security scanner for docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}

      - name: Build image
        run: |
          make build/docker-amd64 BASE_IMAGE_TAG=${{ env.BASE_IMAGE_TAG }} GOSTATSD_TAG=${{ env.GOSTATSD_TAG }} DOCKER_IMAGE_TAG=${{ env.DOCKER_IMAGE_TAG }}

      - name: Run Snyk to check Docker image for vulnerabilities
        uses: snyk/actions/docker@master
        env:
          SNYK_TOKEN: ${{ env.SNYK_TOKEN }}
        with:
          image: ${{ env.TEST_IMAGE }}
          args: --file=Dockerfile --severity-threshold=high

      - name: Run Trivy to check Docker image for vulnerabilities
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.TEST_IMAGE }}
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: "CRITICAL,HIGH"
