name: Publish container image

# run this workflow when we create a new releases
on: 
  release:
    types:
      - released
    tags:
      - '*'

env:
  BASE_IMAGE_TAG: 3.17.2
  GOSTATSD_TAG: 35.1.19

jobs:
  push_to_registry:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout out master 
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.OHAI_DOCKER_HUB_ID }}
          password: ${{ secrets.OHAI_DOCKER_HUB_PASSWORD }}

      - name: Push to docker hub
        uses: docker/build-push-action@v3
        with:
          platforms: linux/amd64,linux/arm64
          build-args: |
            BASE_IMAGE_TAG=${{ env.BASE_IMAGE_TAG }}
            GOSTATSD_TAG=${{ env.GOSTATSD_TAG }}
          context: .
          push: true
          tags: |
            newrelic/nri-statsd:latest
            newrelic/nri-statsd:${{ github.event.release.tag_name }}
